@keyframes change{
    from {margin-top: 0px;}
    to {margin-top: 150px;}

    from {background-color: #eff0b6;}
    to {background-color: #bfb051;}
}

    

body {
 /* background-color: #bfb051; */
 border: #763857 solid 3px;
 background: linear-gradient(to left, #ecc929, #8f4068);
 border-radius: 8px;
 width: 270px;
 height: 320px;
 margin: auto;
 margin-top: 130px;
 box-shadow: inset 0 0 15px 6px rgba(0, 0, 0, 0.75);
 animation-name: change;
 animation-duration: 1.5s;
 animation-iteration-count: 1;
 animation-direction: normal;
}


/* login title stylwe */
#title {
    color: #721946;
    font-family: Georgia, serif;
    text-align: center;
    text-shadow: purple 1px 1px;
    text-shadow: 0 0 3px  #bfb051;
}



/* username style */
.userinput {
    color: #8f4068;
    /* text-shadow: #763857 0.5px 0.5px; */
    padding-left: 45px;
    font-family: 'Franklin Gothic Medium', sans-serif;
}

/* input box movement */
#username {
    color: #eff0b6;
    background-color: #763857;
    padding-left: 15px;
    margin-left: 45px;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#password {
    color: #eff0b6;
    background-color: #763857;
    padding-left: 15px;
    border-radius: 5px;
    margin-left: 45px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* final submission */
#input-submit {

    color: #763857;
    background-color: #eff0b6;
    border-radius: 5px;
    margin-left: 65px;
    padding-left: 50px;
    padding-right: 50px;
    box-shadow: purple 2px 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
#input-reset {

    color: #763857;
    background-color: #eff0b6;
    border-radius: 5px;
    margin-left: 65px;
    padding-left: 50px;
    padding-right: 50px;
    box-shadow: purple 2px 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

::placeholder {
    color: #eff0b6;
  }
